{{>Header}}
<h1 class="form-title">Añadir/Modificar Autor</h1>
<div class="container-fluid">
    <form class="row" action="/authorModification" method="post" enctype="multipart/form-data">
        <div class="col-sm-12 col-md-6">
            <input type="text" placeholder="Nombre" name="firstName" >
        </div>
        <div class="col-sm-12 col-md-6">
            <input  type="text" placeholder="Apellidos" name="lastName" >
        </div>
        <div class="col-12">

            <textarea type="text" placeholder="Informacion" name="info" rows="6"></textarea>
        </div>
        <div class="col-12">
            <label for="myfile">Imagen:</label>
            <input type="file" id="myfile" name="imageField" accept=".jpg .jpeg">
        </div>
        <div class="col-6 container-button">
            <input type="submit" value="Cancelar" class="button" id="cancel">
            </div>
        <div class="col-6 container-button">
            <input type="submit" value="Aceptar" class="button" id="accept" >
        </div>
        <input type="hidden" name="_csrf" value="{{token}}">
    </form>
</div>
{{>footer}}