{{>header}}
<hr/>
<div class="author container-fluid">
    <div class="row">
        <h2 class="name">{{author.firstName}} {{author.lastName}}</h2>

        {{#image}}
        <div class="col-sm-12 col-md-6 author-img">
            <img src="/{{id}}/image" class="image">
        </div>
        {{/image}}
            
        {{^image}}
        <div class="col-sm-12 col-md-6 author-img">
            <img src="/images/noImage.jpg" class="image">
        </div>
        {{/image}}  

        <div class="col-sm-12 col-md-6 information">
            <p>{{author.info}}</p>
        </div>
        
        {{#author.books}}
        <div class="recomendationSet flex-container">
            {{#image}}
                <img src="/{{id}}/image" class="image">
            {{/image}}
            
            {{^image}}
                <img src="/images/noImage.jpg" class="image">
            {{/image}} 
            <br><br>
            <div class="information">
                <a href="/book/{{id}}">{{title}}</a>
                <p>{{author.firstName}} {{author.lastName}}</p>
                <p>{{stock}}</p>
                <p>{{price}}</p>
            </div>
        </div>
        {{/author.books}}
    </div>
</div>

{{>Footer}}
