{{>header}}

    <div class="book container-fluid">
        <div class="row" id="Top">
            <div class="col-10" id="book">
                <div class="row">
                    <div class="col-4">
                        {{#image}}
                            <img src="/{{id}}/image" class="image">
                        {{/image}}
            
                        {{^image}}
                            <img src="/images/noImage.jpg" class="image">
                        {{/image}} 
                    </div>
                    <div class="col-8">
                        <div id="Titulo">
                            <h1>{{book.title}}</h1>
                        </div>
                        <div id="Autor">
                            <h2>{{book.author.firstName}} {{book.author.lastName}}</h2>
                        </div>
                    </div>
                    
                    <div id="clasificacion row">
                        <div class="calificacion col-4">
                            {{#book.valoracion}}
                            <div class="rateYo" id="rateYo1"></div>
                            {{/book.valoracion}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="buy" class="col-2">
                <p>{{book.price}}  €</p>
                {{#logged}}
                <a href="addToCart/{{id}}"></a>
                    <button class="button" id="cart" type="button">Añadir a Cesta</button>
                </a>
                <!--<button class="button" id="favorite" type="button">Favoritos</button>-->
                <a href="addReview.html">
                    <button class="button" id="addReview" type="button">Añadir Reseña</button>  
                </a> 
                {{/logged}}  
        </div>
    </div>
    <div id="info">
        <div id="Sinopsis">
            <h3>Sinopsis</h3>
            <p>{{book.info}}</p>
        </div>
        <h3>Reseñas</h3>
            #ReviewList
            <div class="reviewSet">
                <ul class="read-items">
                    {{^review}}
                    <p>Este libro actualmente no tiene reseñas</p>
                    {{/review}}
                    {{#review}}
                        <li><a href="/review/{{id}}">{{>review}}</a></li>
                    {{/review}}
                </ul>
            </div>
    </div>

{{>footer}}