    <div>
        {{#book.image}}
        <img src="/images/">
        {{/book.image}}

        {{^book.image}}
        <img src="/images/no_image.png">
        {{/book.image}} 
        <br>
        <br>
        <div class="information">
            <a href="/book/{{id}}">{{title}}</a>
            <p>{{author}}</p>
            <p>{{stock}}</p>
            <p>{{price}}</p>
            {{#logged}}
            <input type="submit" value="Añadir" class="button" id="add">
            {{/logged}}
        </div>
    </div>
    <hr/>