{{>header}}
{{#email}}
<p>{{email}}</p>
{{/email}}
    <h1>NOVEDADES</h1>
    <br>
    <hr/>
    <div class="flex-container-novedades">
            <ul class="item">
                {{#bookList}}
                <li>
                    {{>book}}
                </li>
                {{/bookList}}
        </ul>
    </div>
    <h1>MÁS LEÍDOS</h1>
    <br>
    <hr/>
    <div class="flex-container-novedades">
        <ul class="read-items">
            {{#books}}
            <li>
            {{>book}}
            <a href="/books/{{id}}">Más Detalles</a></li>
            {{/books}}
        </ul>
    <br>
    <hr/>
    {{#logged}}
    <h1>RECOMENDADOS PARA TI</h1>
    <br>
    <hr/>
    <div class="flex-container-novedades">
        <ul class="recommended-items">
            {{#books}}
            <li><a href="/books/{{id}}">{{title}}</a></li>
            {{/books}}
    </ul>
    {{/logged}}
    <img src="images/fondo-inicio.jpg" class="fondo-final" alt="">

{{>footer}}

