{{>header}}
    <div class="flex-container" id="homeHeader">
        <div>
            <img src="images/libros novedades.png" class="homeImage" alt="">
        </div>
    </div>
    <hr/>
    <br>
    <h1>NOVEDADES</h1>
    <br>
    <hr/>
    <div class="recomendationSet flex-container">
                {{#bookList}}
                <div>
                    {{#book.image}}
                    <img src="/images/">
                    {{/book.image}}
            
                    {{^book.image}}
                    <img src="/images/no_image.png">
                    {{/book.image}} 
                    <br>
                    <br>
                    <div class="information">
                        <a href="/book/{{id}}">{{title}}</a>
                        <p>{{author}}</p>
                        <p>{{valoracion}}</p>
                        <p>{{price}}</p>
                        {{#logged}}
                        <input type="submit" value="Añadir" class="button" id="add">
                        {{/logged}}
                    </div>
                </div>
                <hr/>
                {{/bookList}}
    </div>
    <hr/>
    <br>
    <h1>MÁS LEÍDOS</h1>
    <br>
    <hr/>
    <div class="recomendationSet flex-container">
        <ul class="recomendationSet">
            {{#booksList}}
            <li>
                {{>book}}
            </li>
            {{/booksList}}
        </ul>
    </div>
    <hr/>
    <br>
    {{#logged}}
    <h1>RECOMENDADOS PARA TI</h1>
    <br>
    <hr/>
    <div class="recomendationSet">
        <ul class="recomendationSet">
            {{#booksList}}
            <li>
                {{>book}}   
            </li>
            {{/booksList}}
    </ul>
    {{/logged}}
    <img src="images/fondo-inicio.jpg" class="homeBottomImage" alt="">

{{>footer}}

