{{>header}}

    <div class="profile-container">

        {{#profile.image}}
        <img src="/profile/{{profile.id}}/image">
        {{/profile.image}}

        {{^profile.image}}
        <img src="/images/no_image.png">
        {{/profile.image}}    
        
        <h1>Tu perfil</h1>
        <p href="/user/{{id}}"> Nombre: {{name}}</p>
        <p>Correo electrónico: {{email}}</p>
        <p>Dirección: {{address}}</p>
        <p>Número de télefono: {{tlf}}</p>
        <p>Géneros favoritos: {{genre}}</p>

        <form action="/logout" method="post">
            <input type="submit" value="Cerrar Sesion" />
        </form>
    </div>
    <hr/>

{{>footer}}