{{>header}}

    <div class="profile-container">
        {{#profile.image}}
        <img src="/profile/{{profile.id}}/image">
        {{^profile.image}}
        <img src="/images/no_image.png">
        {{/profile.image}}
        {{/profile.image}}    
        
        <h1>Tu profile</h1>

        <p>Nombre: {{profile.user}}</p>
        <p>Correo electrónico: {{profile.email}}</p>

        <form action="/profile" method="post">
            <input type="submit" value="Cerrar Sesion" />
        </form>
    </div>
    <hr/>

{{>footer}}