{{>header}}

    <div class="profile-container">

        {{#profile.image}}
        <img src="/profile/{{profile.id}}/image">
        {{/profile.image}}

        {{^profile.image}}
        <img src="/images/no_image.png">
        {{/profile.image}} 
        
        <h1>Tu perfil</h1>
        <p href="/user/{{id}}"> Nombre: {{user}}</p>

        {{#profile.email}}
        <p> Correo Electronico: {{email}}</p>
        {{/profile.email}}
        <a href="/profileModification">
            <button class="button">Modificar Perfil</button>
        </a>
        <form action="/logOut" method="post">
            <input type="submit" value="Cerrar Sesion"/>
            <input type="hidden" name="_csrf"  value="{{token}}">
        </form>


    </div>
    <hr/>

{{>footer}}