{{>header}}

<h1>Registrate</h1>
<form class="contenedor" action="/register" method="post" enctype="multipart/form-data">
    <div class="input-contenedor">
       
        <input type="text" placeholder="Nombre de Usuario" name="user">
    </div>
    <div class="input-contenedor">
        <input type="password" placeholder="Contraseña" name="password">

        <input type="password" placeholder="Repetir la Contraseña" name="confirmation">
    </div>
    <input type="submit" value="Registrate" class="button">
    <p>Al registrarse, aceptas nuestras Condiciones de uso y Política de privacidad</p>
    <p>¿Ya tienes cuenta? <a class ="link" href="/login"> Iniciar Sesión</a></p>
</form>

{{>footer}}