{{>header}}

    <div>
        {{#book.image}}
        <img src="/books/{{book.id}}/image">
        {{/book.image}}

        {{^book.image}}
        <img src="/images/no_image.png">
        {{/book.image}}
        <br>
        <br>
        <div class="information">
            <p>{{book.title}}</p>
            <p>{{book.author}}</p>
            <p>{{book.rateYO}}</p>
            <p>{{book.nValoracion</p>
            <p>{{book.prize</p>
            {{#logged}}
            <input type="submit" value="Añadir" class="button" id="add">
            {{/logged}}
        </div>
    </div>
    <hr/>

{{>footer}}