/* All */
*{
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: hwb(57 1% 59%);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    align-content: center;
    justify-content: center;
    background-image: url(images/fondo.webp);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 750px;
    backface-visibility: hidden;
}

.home {
    margin-left: 10px;
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}

#header{
    height: 100px;
}

.logo {
    width: 150px;
    height: 100px;
}

.image{
    width: 300px;
    height: 400px;
}

div{
    position: relative;
}


/*Book Set*/
.recomendationSet {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.recomendationSet div {
    padding: 10px;
}

.information {
    text-align: center;
    font-weight: bold;
}

/*Home*/
#homeHeader{
    background-image: url(images/fondo\ novedades.avif);
    display: flex;
    width: auto;
    justify-content: center;
    align-content: center;
    border-radius: 15;
    border-style: solid;
}

.homeImage{
    width: 300px;
}

.homeBottomImage{
    width: 1000px;
}

#add{
    background: hwb(129 6% 37%);
}

/*Author*/
.author{
    position:relative;
    margin-top: 120px;
    margin-bottom: 20px;
}

.author-img {
    display:flex ;
    text-align: center;
    justify-content: center;
}

/*Book*/
.genre{
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #176100;
    color: white;
}

#info{
    position:relative;
    margin-top: 10px;
    margin-left: 20px;
}

#buy{
    border-left-color: #ecf07d;
    border-left-style:dashed;
    background-color: #eff1b0;
}

#price{
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Top{
    position:relative;
    margin-top: 120px;
    margin-left: 20px;
    clear: both;
}

.reviewSet{
    border-style: double;
    border-color: darkkhaki;
    margin-bottom: 10px;
}

.review{
    border-bottom: groove;
    border-color: darkkhaki;
    margin-top: 5px;
}

/*Cart*/
.cartImage {
    width: 100px;
    height: 100px;
    background: hwb(57 1% 59%);
    border-style: double
}

#cartHeader{
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    border-style: double;
    
}
#cartHeader div{
    margin: 10px;
}

.totalPrice{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;

}


/*Buttons*/
.buttonAdmin{
    background-color: #ff2121;
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
}

.buttonAdmin:active{
    background-color: #ef5858;
}


.button{
    margin-top: 10px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    color: #fff;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px #000;
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#cart{
    background-color: rgb(225, 214, 9);
}

#favorite{
    background-color: #c94747;
}

#addReview{
    background-color: goldenrod;
}

#deleteBook{
    background: hwb(6 7% 3%);
}

#sell{
    background: hwb(129 6% 37%);
}

#accept{
    background-color: darkolivegreen;
}

/*Login/Register*/
.containerLoginRegister{
    width: 100%;
    padding: 15px;
}

#loginRegister{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: hwb(57 1% 59%);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#loginRegister:hover{
    background: hwb(57 1% 59%);
    font-weight: 600;

}
.link{
    color:hwb(56 3% 43%) ;

}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;

}

/*Profile*/
.profile-container {
    background-color: #FFF9C4;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    box-shadow: 2px 2px 8px #333;
}

.profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px 0;
}

/*Modify Profile and Author*/
.form-title {
    background-color: darkolivegreen;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top:50px;
    border:2px solid black;
    border-radius:10px
}
#info{
    width:100%;
    resize:none
}


/*Forms*/
.form{
    background:FFFFFF;
    margin-top: 100px;
    padding: 3px;
}
@media(min-width:768px)
{
    .form{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}
input[type ="text"],
input[type = "password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-container{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}


/*RateYo*/
.rateYo{
    margin-top: 15px;
    margin-bottom: 15px;
}